// COLORS
$color-primary-light: #bee0ec;
$color-primary: #66b6d2;
$color-primary-dark: #2596be;
$color-primary-darker: #165a72;
$color-primary-dark-darker: #071e26;

$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #222222;
$background-color: #aaaaaa;

// GRID
$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-horizontal: 6rem;

